In [1]:
from usf_helpers import snow
from usf_helpers.snow import SnowflakeConnector
from usf_helpers import sql
import pandas as pd
import os

In [2]:
uid = os.environ['SNOWFLAKE_USER']
pwd = os.environ['SNOWFLAKE_PASSWORD']
role = os.environ['SNOWFLAKE_ROLE']
warehouse = os.environ['SNOWFLAKE_WAREHOUSE']
schema = os.environ['SNOWFLAKE_SCHEMA']
database = os.environ['SNOWFLAKE_DATABASE']

In [3]:
conn = SnowflakeConnector(uid, pwd)
conn.check_cursor()
conn.execute(f"USE ROLE {role};")
conn.execute(f"USE DATABASE {database}")
conn.execute(f"USE WAREHOUSE {warehouse};")
conn.execute(f"USE SCHEMA {schema};")
print("Connected to Snowflake")

Connecting to Snowflake...
connected to snowflake version:  4.43.2
Query Executed.
Query Executed.
Query Executed.
Query Executed.
Connected to Snowflake

In [4]:
sql = "SELECT * FROM GOLD.XDMADM.DIV_CORP"

In [5]:
conn.execute(sql)
df = conn.fetch_pandas_all()

Query Executed.

In [6]:
df.head()

,DIV_SK,DIV_NM,ZONE_CD,DIV_NBR,BRNCH_CD,ZONE_NBR,ZONE_PRSDNT_NM,RGN_CD,RGN_NBR,RGN_PRSDNT_NM,...,AREA_NM,AREA_CD,AREA_NBR,AREA_PRSDNT_NM,SLS_COV_PHN_NBR,SC_RGN_CD,SC_RGN_NBR,SC_RGN_NM,DIV_TM_ZN,DST_IND
0,153520,SAN ANTONIO,-999,8109,8109,-999,UNKNOWN,-999,-99,UNKNOWN,...,UNKNOWN,-999,-999,UNKNOWN,None,None,None,None,None,None
1,153440,MYRTLEBEACH,-999,8106,8106,-999,UNKNOWN,-999,-99,UNKNOWN,...,UNKNOWN,-999,-999,UNKNOWN,None,None,None,None,None,None
2,153388,SGA-FARGO,-999,9018,018,-999,UNKNOWN,-999,-99,UNKNOWN,...,UNKNOWN,-999,-999,UNKNOWN,None,None,None,None,None,None
3,153384,SGA-EVERETT,-999,9017,017,-999,UNKNOWN,-999,-99,UNKNOWN,...,UNKNOWN,-999,-999,UNKNOWN,None,None,None,None,None,None
4,153372,SGA-ANCHORAGE,-999,9014,014,-999,UNKNOWN,-999,-99,UNKNOWN,...,UNKNOWN,-999,-999,UNKNOWN,None,None,None,None,None,None